body {
	font-family: Verdana;
}

.hidden {
	display: none;
}

button {
	padding : 5px;
	border-radius: 10px;
	background-color: #E3F1E5;
}
#status {
	font-weight: normal;
	padding: 5px 10px;
}

#socketstatus {
	font-weight: bold;
	font-family: Lucida Console;
	font-size: 10pt;
}

.socketconnecting {
	background-color: blue;
	color: white;
}

.socketconnected {
	background-color: green;
	color: white;
}

.socketdisconnected {
	background-color: red;
	color: white;
}

